@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'bootstrap/scss/bootstrap.scss';

$main: #006699; 

/*FIXME: black is white, gray... chaos */
$black: white;
$black-09: rgba($black, 0.9);
$black-05: rgba($black, 0.5);
$main-01: rgba($main, 0.1);
$main-05: rgba($main, 0.5);
$main-03: rgba($main, 0.3);
$main-004: rgba($main, 0.04);
$map-bg-color: #E5EFF5;
$thumbsHeight: 9vh;
$baseSpace: 5px;
$scrollbarWidth: 8px;
$bigSpace: 0.2em;
$tagBoring: rgb(80, 80, 80);
$tagNice: #92EB86;
$tagTop: #EB4F46;
$tagInactiveOpactiy: 0.3;
$tagHoverOpacity: 0.7;
$tagBtnBorder: 4px;
$tagNotTagged: $main;

:root {
  --map-bg-color:#E5EFF5;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: $main;
  font-weight: 600;
  background-color: $main-004;
}

.form-control, .btn, .alert, .dropdown-menu {
  border-radius: 0;
}

p, button {
  margin-bottom: $baseSpace;
}

span {
  margin-left: $baseSpace;
}

.btn {
  font-weight: 600;
  text-transform: none;
}

.btn-primary {
  background-color: $main;
}

/* why bootstrap has by default values -15px ??? */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-menu {
  background-color: $main;
  border-color: $main;
}

.bg-dark {
  background-color: $main !important;
}

h1, h2, h3, H4, h5, h6 {
  color: $main;
  text-transform: none;
}

.photoCounter {
  position: absolute;
  top: 0;
  margin-top: $bigSpace;
  right: 0;
  margin-right: $bigSpace;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.flexRow {
  display: inline-flex;
  flex-direction: row;
  justify-content: last baseline;
  overflow-x: auto;
}

.mainImage {
  width: auto; 
  height: auto; 
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photoLoader {
  animation-duration: 0.7s;
  position: absolute; 
  width: 100%; 
  height: calc(100% - (#{$baseSpace} * 2)); 
  margin: $baseSpace;
}

.photoLoadersDiv {
  width: 100%; 
  height: calc(100% - #{$thumbsHeight} - #{$baseSpace}); 
  min-height: 60vh; 
  position: relative; 
  overflow: hidden;
}

.myShadow {
  box-shadow:  0 0 5px black;
}

.leftMenuItem {
  text-align: left;
  margin-top: 15px;
}

.boxUderline {
  border-bottom: 1px solid  $main-05;
}

/* #region Navigation buttons */
.btn-nav {
  border: 0px;
  padding: 0px;
  font-size: 3.5em; 
  color: $main-05;
}

.btn-nav:before {
  position: absolute;
  top: 0%;   
  height: calc(100% - #{$thumbsHeight} - #{$baseSpace});
  display: flex;
  align-items: center;
  justify-content: center; 
}

.btn-nav:hover:enabled {
  color: $main;
}

.btn-nav:hover:before:disabled {
  cursor: pointer;
}

.btn-nav-left:before {
  left: 0%;
  margin-left: $bigSpace;
  content: "\f053";  
}

.btn-nav-right:before {
  right: 0%;
  margin-right: $bigSpace;
  content: "\f054";
}
/* #endregion */

/* #region FullScreen button */
.btn-fullscreen {
  font-size: 3em; 
  color: $main-01;
  border: 0px;
  padding: 0px;
  z-index: 5;
}
.btn-fullscreen:before {
  position: absolute;
  content: "\f31e";
  bottom: calc(#{$thumbsHeight} + #{$scrollbarWidth} + #{$baseSpace});
  right: 0; 
  margin-right: $bigSpace;
  z-index: 5;
}
.btn-fullscreen:hover:before {
  color: $main;
}
/* #endregion */

/* #region Exif */
.btn-exif {
  position: absolute;
  bottom: calc(#{$thumbsHeight} + #{$scrollbarWidth} + #{$baseSpace}); 
  right: 3.5em;
  margin-right: $bigSpace;
  cursor: pointer;
  color: $main-01;
}

.btn-exif:hover {
  color: $main;
}

.btn-exif.selected {
  color: $main;
}

.exif {
  position: absolute;
  bottom: calc(#{$thumbsHeight} + #{$scrollbarWidth} + #{$baseSpace}); 
  min-width: 5em;
  right: 3.5em;
  margin-right: $bigSpace;
  display: inline;
  font-size: 0.7em; 
  color: $main;
  background-color: $black-05;
  animation-duration: 0.2s;
}

/* #endregion */

/* #region Navigation Bar */
.navbar {
 font-size: 1.2em;
 padding: 0px;
}

.nav-item {
  font-weight: 600;
  color: $black-09;
}

.nav-item :hover {
  background-color: $main;
  color: $black-05;
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navbar-nav.navbar-right {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: auto;
}

.navbar-dark .navbar-nav .dropdown a {
  color: $black-09;
}

.navbar-nav .btn {
   background-color: $main;
   border-color: $main; 
}

/* #endregion */

/* #region Thumbs */
.thumb {
  cursor: pointer;
  width: auto;
  height: $thumbsHeight;
  max-height: $thumbsHeight;
  padding: 0;
  margin-right: 2px;
}

.thumbSelected {
  border: 4px solid $main !important;
  padding: 0px 0px 0px 0px;
}

.thumbLoading { 
  max-height: $thumbsHeight;
  padding: 0px 2px 0px 2px;
}

.thumbPhoto {
  border: 1px solid $main-05;
}

/* #endregion */

/* #region JVectorMap */
.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  background: $main;
  color: $black-09;
}

.jvectormap-tip {
  background: $main;
  color: $black-09;
}

/* #endregion */

/* #region Scrollbars */
::-webkit-scrollbar {
  width: $scrollbarWidth;
  height: $scrollbarWidth;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $main-05; 
}
::-webkit-scrollbar-thumb {
  background: $main-01; 
}
::-webkit-scrollbar-thumb:hover {
  background: $main; 
}
/* #endregion */

/* #region Slider */

.switch input {display:none;}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 25px;
  float:left;
}

/* #region The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-03;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: $black;
  -webkit-transition: .4s;
  transition: .4s;
}


input.primary:checked + .slider {
  background-color: $main;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 0px;
  margin-left: 1px;
}

.slider.round:before {
  border-radius: 0%;
}

/* #endregion */

/* #region Photo Tag */

.btn-tag {
  @extend .btn;
  font-size: 0.7em;
  margin-right: 5px;
  border: 0;
  outline: none;
  box-shadow: none !important;
  border-style: solid;
  margin-top: $baseSpace
}
.btn-tag.active {
 border-width: $tagBtnBorder;
}

.btn-tag.boring {
  background-color: rgba($tagBoring, $tagInactiveOpactiy) !important;
}
.btn-tag.boring:hover, .btn-tag.boring.active:hover {
  background-color: rgba($tagBoring, $tagHoverOpacity) !important;
}
.btn-tag.boring.active {
  border-color: $tagBoring !important;
  background-color: $tagBoring !important;
}

.btn-tag.nice {
  background-color: rgba($tagNice, $tagInactiveOpactiy) !important;
}
.btn-tag.nice:hover, .btn-tag.nice.active:hover {
  background-color: rgba($tagNice, $tagHoverOpacity) !important;
}
.btn-tag.nice.active {
  border-color: $tagNice !important;
  background-color: $tagNice !important;
}

.btn-tag.top {
  background-color: rgba($tagTop, $tagInactiveOpactiy)  !important;
}
.btn-tag.top:hover, .btn-tag.top.active:hover {
  background-color: rgba($tagTop, $tagHoverOpacity) !important;
}
.btn-tag.top.active {
  border-color: $tagTop !important;
  background-color: $tagTop !important;;
}

.btn-tag.notTagged {
  background-color: rgba($tagNotTagged, $tagInactiveOpactiy)  !important;
}
.btn-tag.notTagged:hover, .btn-tag.notTagged.active:hover {
  background-color: rgba($tagNotTagged, $tagHoverOpacity) !important;
}
.btn-tag.notTagged.active {
  border-color: $tagNotTagged !important;
  background-color: $tagNotTagged !important;
}

/* #endregion Photo Tag */

/* #region PhotoFilter */

.tags-filter-menu {
  background-color: $main-004;
  padding: 0;
}

.tags-filter-btn, .tags-filter-btn:hover, .tags-filter-btn:focus, .tags-filter-btn.dropdown-toggle {
  background-color: $main-03 !important;
  box-shadow: none !important;
  color: $main !important;
}

/* #endregion */