:root {
  --main: rgb(0, 102, 153);;
  --main-01: rgb(0, 102, 153, 0.1);
  --main-05: rgb(0, 102, 153, 0.5);
  --black-09: rgba(255, 255, 255, 0.9);
  --black-05: rgba(255, 255, 255, 0.5);
  --map-bg-color: #E5EFF5;
  --line: #ebebeb;
  --thumbsHeight: 9vh;
  --baseSpace: 5px;
  --scrollbarWidth: 8px;
  --bigSpace: 0.2em
}

html {
  height: 100%;
  background-color: "black"
}

#root {
  height: 100%;
  background-color: "black"
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: var(--main);
  font-weight: 600;
  background-color: "black"
}

span {
  margin-left: 8px;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
  font-weight: 600;
}

.alert {
  border-radius: 0;
}

.btn-primary {
  background-color: var(--main);
}

/* why bootstrap has by default values -15px ??? */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-menu {
  border-radius: 0;
  background-color: var(--main);
  border-color: var(--main);
}

.bg-dark {
  background-color: var(--main) !important;
}

h1, h2, h3, H4, h5, h6 {
  color: var(--main);
  text-transform: none;
}

.photoCounter {
  position: absolute;
  top: 0;
  margin-top: var(--bigSpace);
  right: 0;
  margin-right: var(--bigSpace);
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.flexRow {
  display: inline-flex;
  flex-direction: row;
  justify-content: last baseline;
  overflow-x: auto;
}

.mainImage {
  width: auto; 
  height: auto; 
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myShadow {
  box-shadow:  0 0 5px black;
}

.leftMenuItem {
  text-align: left;
  margin-top: 15px;
}

.boxUderline {
  border-bottom: 1px solid  var(--line);
}

/* #region Favourite photo button */
.btn-img {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

.btn-img:before {
	content: "";
	width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
	display: inline-block;
	vertical-align: text-top;
	background-position : center center;
  background-repeat:no-repeat;
}

.btn-img-act:before {
  background-image: url(../images/heart_full.png);
}

.btn-img-inact:before {
  background-image: url(../images/heart.png);
}

.btn-img-inact:hover:enabled::before  {
  background-image: url(../images/heart_hover.png);
}

.btn-img-act:hover:enabled::before {
  background-image: url(../images/heart_hover.png);
}

/* #endregion */

/* #region Navigation buttons */
.btn-nav {
  border: 0px;
  padding: 0px;
  font-size: 3.5em; 
  color: var(--main-05);
}

.btn-nav:before {
  position: absolute;
  top: 0%;   
  height: calc(100% - var(--thumbsHeight) - var(--baseSpace));
  display: flex;
  align-items: center;
  justify-content: center; 
}

.btn-nav:hover:enabled {
  color: var(--main);
}

.btn-nav:hover:before:disabled {
  cursor: pointer;
}

.btn-nav-left:before {
  left: 0%;
  margin-left: var(--bigSpace);
  content: "\f053";  
}

.btn-nav-right:before {
  right: 0%;
  margin-right: var(--bigSpace);
  content: "\f054";
}
/* #endregion */

/* #region FullScreen button */
.btn-fullscreen {
  font-size: 3em; 
  color: var(--main-01);
  border: 0px;
  padding: 0px;
  z-index: 5;
}
.btn-fullscreen:before {
  position: absolute;
  content: "\f31e";
  bottom: calc(var(--thumbsHeight) + var(--scrollbarWidth) + var(--baseSpace));
  right: 0; 
  margin-right: var(--bigSpace);
  z-index: 5;
}
.btn-fullscreen:hover:before {
  color: var(--main);
}
/* #endregion */

/* #region Exif */
.btn-exif {
  position: absolute;
  bottom: calc(var(--thumbsHeight) + var(--scrollbarWidth) + var(--baseSpace)); 
  right: 3.5em;
  margin-right: var(--bigSpace);
  cursor: pointer;
  color: var(--main-01);
}

.exif {
  position: absolute;
  bottom: calc(var(--thumbsHeight) + var(--scrollbarWidth) + var(--baseSpace)); 
  min-width: 5em;
  right: 3.5em;
  margin-right: var(--bigSpace);
  display: inline;
  font-size: 0.7em; 
  color: var(--main);
  background-color: var(--black-05);
  animation-duration: 0.2s;
}

/* #endregion */

/* #region Navigation Bar */
.navbar {
 font-size: 1.2em;
 padding: 0px;
}

.nav-item {
  font-weight: 600;
  color: var(--black-09)
}

.nav-item :hover {
  background-color: var(--main);
  color: var(--black-05);
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navbar-nav.navbar-right {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: auto;
}

.navbar-dark .navbar-nav .dropdown a {
  color: var(--black-09);
}

/* #endregion */

/* #region Thumbs */
.thumb {
  cursor: pointer;
  width: auto;
  height: var(--thumbsHeight);
  max-height: var(--thumbsHeight);
  padding: 0;
  margin-right: 2px;
}

.thumbSelected {
  border: 4px solid var(--main) !important;
  padding: 0px 0px 0px 0px;
}

.thumbLoading { 
  max-height: var(--thumbsHeight);
  padding: 0px 2px 0px 2px;
}

.thumbPhoto {
  border: 1px solid var(--main-05);
}

/* #endregion */

/* #region JVectorMap */
.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  background: var(--main);
  color: var(--black-09);
}

.jvectormap-tip {
  background: var(--main);
  color: var(--black-09);
}

/* #endregion */

/* #region Scrollbars */
::-webkit-scrollbar {
  width: var(--scrollbarWidth);
  height: var(--scrollbarWidth);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--line); 
}
::-webkit-scrollbar-thumb {
  background: var(--main-01); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main); 
}
/* #endregion */