@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

$main: rgb(0, 102, 153); 

/*FIXME: black is white, gray... chaos */
$black: white;
$black-09: rgba($black, 0.9);
$black-05: rgba($black, 0.5);
$main-01: rgba($main, 0.1);
$main-05: rgba($main, 0.5);
$map-bg-color: #E5EFF5;
$line: #ebebeb;
$thumbsHeight: 9vh;
$baseSpace: 5px;
$scrollbarWidth: 8px;
$bigSpace: 0.2em;

:root {
  --map-bg-color:#E5EFF5;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: $main;
  font-weight: 600;
}

span {
  margin-left: 8px;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
  font-weight: 600;
}

.alert {
  border-radius: 0;
}

.btn-primary {
  background-color: $main;
}

/* why bootstrap has by default values -15px ??? */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-menu {
  border-radius: 0;
  background-color: $main;
  border-color: $main;
}

.bg-dark {
  background-color: $main !important;
}

h1, h2, h3, H4, h5, h6 {
  color: $main;
  text-transform: none;
}

.photoCounter {
  position: absolute;
  top: 0;
  margin-top: $bigSpace;
  right: 0;
  margin-right: $bigSpace;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.flexRow {
  display: inline-flex;
  flex-direction: row;
  justify-content: last baseline;
  overflow-x: auto;
}

.mainImage {
  width: auto; 
  height: auto; 
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photoLoader {
  animation-duration: 0.7s;
  position: absolute; 
  width: 100%; 
  height: calc(100% - (#{$baseSpace} * 2)); 
  margin: $baseSpace;
}

.photoLoadersDiv {
  width: 100%; 
  height: calc(100% - #{$thumbsHeight} - #{$baseSpace}); 
  min-height: 60vh; 
  position: relative; 
  overflow: hidden;
}

.myShadow {
  box-shadow:  0 0 5px black;
}

.leftMenuItem {
  text-align: left;
  margin-top: 15px;
}

.boxUderline {
  border-bottom: 1px solid  $line;
}

/* #region Favourite button */
.fav-button {
   @extend .far;
   font-size: 2.5em; 
   cursor: pointer
}

.fav-button:hover {
  color: red; 
}

.fav-button-selected {
  @extend .fas; 
  font-size: 2.5em; 
  color: red;
  cursor: pointer
}

.fav-button-selected:hover {
  @extend .far; 
}

/* #endregion */

/* #region Navigation buttons */
.btn-nav {
  border: 0px;
  padding: 0px;
  font-size: 3.5em; 
  color: $main-05;
}

.btn-nav:before {
  position: absolute;
  top: 0%;   
  height: calc(100% - #{$thumbsHeight} - #{$baseSpace});
  display: flex;
  align-items: center;
  justify-content: center; 
}

.btn-nav:hover:enabled {
  color: $main;
}

.btn-nav:hover:before:disabled {
  cursor: pointer;
}

.btn-nav-left:before {
  left: 0%;
  margin-left: $bigSpace;
  content: "\f053";  
}

.btn-nav-right:before {
  right: 0%;
  margin-right: $bigSpace;
  content: "\f054";
}
/* #endregion */

/* #region FullScreen button */
.btn-fullscreen {
  font-size: 3em; 
  color: $main-01;
  border: 0px;
  padding: 0px;
  z-index: 5;
}
.btn-fullscreen:before {
  position: absolute;
  content: "\f31e";
  bottom: calc(#{$thumbsHeight} + #{$scrollbarWidth} + #{$baseSpace});
  right: 0; 
  margin-right: $bigSpace;
  z-index: 5;
}
.btn-fullscreen:hover:before {
  color: $main;
}
/* #endregion */

/* #region Exif */
.btn-exif {
  position: absolute;
  bottom: calc(#{$thumbsHeight} + #{$scrollbarWidth} + #{$baseSpace}); 
  right: 3.5em;
  margin-right: $bigSpace;
  cursor: pointer;
  color: $main-01;
}

.btn-exif.selected {
  color: $main;
}

.exif {
  position: absolute;
  bottom: calc(#{$thumbsHeight} + #{$scrollbarWidth} + #{$baseSpace}); 
  min-width: 5em;
  right: 3.5em;
  margin-right: $bigSpace;
  display: inline;
  font-size: 0.7em; 
  color: $main;
  background-color: $black-05;
  animation-duration: 0.2s;
}

/* #endregion */

/* #region Navigation Bar */
.navbar {
 font-size: 1.2em;
 padding: 0px;
}

.nav-item {
  font-weight: 600;
  color: $black-09;
}

.nav-item :hover {
  background-color: $main;
  color: $black-05;
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navbar-nav.navbar-right {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: auto;
}

.navbar-dark .navbar-nav .dropdown a {
  color: $black-09;
}

.navbar-nav .btn {
   background-color: $main;
   border-color: $main; 
}

/* #endregion */

/* #region Thumbs */
.thumb {
  cursor: pointer;
  width: auto;
  height: $thumbsHeight;
  max-height: $thumbsHeight;
  padding: 0;
  margin-right: 2px;
}

.thumbSelected {
  border: 4px solid $main !important;
  padding: 0px 0px 0px 0px;
}

.thumbLoading { 
  max-height: $thumbsHeight;
  padding: 0px 2px 0px 2px;
}

.thumbPhoto {
  border: 1px solid $main-05;
}

/* #endregion */

/* #region JVectorMap */
.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  background: $main;
  color: $black-09;
}

.jvectormap-tip {
  background: $main;
  color: $black-09;
}

/* #endregion */

/* #region Scrollbars */
::-webkit-scrollbar {
  width: $scrollbarWidth;
  height: $scrollbarWidth;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $line; 
}
::-webkit-scrollbar-thumb {
  background: $main-01; 
}
::-webkit-scrollbar-thumb:hover {
  background: $main; 
}
/* #endregion */